@model IEnumerable<InternetApplicationProject.Models.Project>

@{
    ViewBag.Title = "ListProject";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>ListProject</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID })
        </td>
    </tr>
}

</table>
